body {
  background-image: url("assets/images/Background.avif");
  background-size: cover;        /* fills screen */
  background-position: center;   /* center */
  background-repeat: no-repeat;  /* no tiling */
  background-attachment: fixed;  /* parallax */

  font-family: "Inter", Arial, sans-serif;
  font-size: 30px;
  margin:0px;
  text-align: center;
}

h1 {
  padding: 20px 0;
  font-family: "Inter", Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow:
    0 0 3px black,
    0 0 6px black;
}

.standardBtn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s ease;
}

.standardBtn:hover {
  background-color: #005fa3;
}

a {
    padding: 20px 0;
  font-family: "Inter", Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow:
    0 0 3px black,
    0 0 6px black;
}